<div class="forum">
  <p><%= link_to "new post", new_post_path %></p>
  <p><%= link_to "your posts", post_index_path %></p>


  <%# interests_array are the subjects.  %>
  <% @interests_array.each do |subjects| %>
    <% subjects.posts.each do |post| %>
      <p> <%= post.title %></p>
      <p> <%= post.content %></p>
      <div class="post-data">
        <div class="comments">There are: <%= post.comments.count %><%= link_to ' Comment(s)', post_comment_index_path(post) %></div>

        <div class="edit"><%= link_to 'Edit', edit_post_path(post) %></div>
        <div class="destroy"><%= link_to 'Destroy', post_path(post), :method => :delete %></div>
        <div>
        </div>
      </div>

  <% end %>
<% end %>
</div>

<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openCity(event, 'London')">London</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Paris')">Paris</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</a></li>
</ul>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
